<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.selagroup.schedu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ScheduApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter android:label="@string/app_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TermActivity"
            android:label="@string/term_activity_title"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".activities.AllCoursesActivity"
            android:label="@string/allCourses_activity_title"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".activities.AddCourseActivity"
            android:label="@string/addCourse_activity_title"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".activities.AddTimeActivity"
            android:label="@string/addTime_activity_title"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".activities.CalendarActivity"
            android:label="@string/calendar_activity_title"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".activities.CourseActivity"
            android:label="@string/course_activity_title"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".activities.InstructorActivity"
            android:label="@string/instructor_activity_title"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".activities.NotesActivity"
            android:label="@string/notes_activity_title"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".activities.SketchNoteActivity"
            android:label="@string/sketchNote_activity_title"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".activities.TextNoteActivity"
            android:label="@string/textNote_activity_title"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".activities.CourseWorkActivity"
            android:label="@string/courseWork_activity_title"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".activities.CourseExamsActivity"
            android:label="@string/courseExams_activity_title"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".activities.NewExamActivity"
            android:label="@string/newExam_activity_title"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".activities.ScheduPreferences"
            android:label="@string/preferences_activity_title"
            android:screenOrientation="nosensor" >
        </activity>

        <receiver android:name=".RebootBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>